@charset "UTF-8";

h1{
    color:#444;
    font-size:40px;
    text-align:center;
    border-bottom:1px solid #444;
    font-family:arial;
    padding-bottom:20px;
    margin-top:60px;
}
.cont_slider--poncho--div1{/*PONCHOS*/
	height: 100vh;
	display: flex;/*SOLO PARA CENTRAR VERTICAL Y HORIZONTALMENTE*/
	align-items: center;
	justify-content: center;
}
.cont_slider--poncho--img{
	width: 100%;
	height: 100vh;
	object-fit: cover;
	display: block;
	margin: auto;
}
.cont_slider--img{
	width: 95%;
	height: 80vh;
	overflow: hidden;
}
.container{
    width: 960px;
    margin: auto;
}
.my-slider{
    overflow: hidden;
    height: 85vh;
    width: 85%;
    border:1px solid #ddd;
    background:#444;
    box-shadow: 1px 1px 15px #ddd;
}
.my-slider:hover{
    border:1px solid #bbb;
    box-shadow: 1px 1px 15px #bbb;
}
.item{
    width: 100%;
    height: 100%;
    display: none;
    filter: grayscale(50%);
    -webkit-filter: grayscale(50%);
}
.item.a{
    background:red;
}
.item.b{
    background:yellow;
}
.item.c{
    background:green;
}
.item.d{
    background:orange;
}
.item.e{
    background:black;
}
.item:hover {
    filter: grayscale(0%);
    -webkit-filter: grayscale(0%);
}
.item img{
    width:100%;
}