@charset "UTF-8";
*{
    margin: 0;
    padding: 0;
    font-size: 100%;
	font-family: Gruppo;
    box-sizing: border-box;
}
a{
    text-decoration: none;	
	color: black;
}
html, body{
    height: 100%;
    scroll-behavior: smooth; /*da el efecto de movimiento a los item del menu principal*/
}
iframe{
	margin: 0;
	padding: 0;
}
li{
	list-style: none;
}
/* ******************************************************************************** */
	/* DECLARACION DE VARIABLES */
:root{
	--Fondo: rgb(16, 20, 23); 
	--HoverEnlaces: rgba(27, 30, 39, 0.7);
	--FuenteInicio: rgb(238, 201, 201);
	--FondoImagenDetalle: rgb(13, 14, 15);
	--FondoTextoTransparente: rgba(13, 14, 15, 0.5);
	--boton: rgb(16, 20, 23);
	/*--Hover: rgb(211, 207, 236);
	--Alerta: orange;
	--footer: rgb(239, 245, 245); */
}

/* ******************************************************************************** */
/*------ fin de reset CSS-----*/
.a_1{/*ponchos - pinturas*/
	background-color: var(--Fondo);
	color: white;
	position: fixed;
	right: 2%;
	top: 2%;
	font-size: 2em;
	width: 50px;
	height: 50px;
	line-height: 50px;
	text-align: center;
	border-radius: 50%;
}
.a_1--oscuro{/*detallePintura - detallePoncho*/
	background-color: var(--FondoImagenDetalle);
}
hr{
	color: white;
	width: 30%;
	margin: 2% 0%;
}
.ancla_2{/*cuenta_editar*/
	display: block;
	content: "marcador ";
	margin-top: -5%;
	height: 50px;
	visibility: hidden;
}
.aside_1{/*inicio*/
	position: fixed;
	margin-top: 20%;
	width: 20%;
}
.contenedor_1{/*inicio*/
	display: flex;
    width: 100%;
    /* height: 100vh; */
}
.contenedor_2{/*inicio*/	
	display: flex;
	flex-wrap: wrap;
	justify-content: space-around; 	
	align-items: center;
    width: 90%;
    min-height: 100vh;
	margin: auto;
	padding-top: 5%;
}
.contenedor_2__div{
	width: 22%;	
	margin: auto 25px;
	margin-top: 10vh;
	cursor: pointer;
}
.contenedor_2__div--animado_2{
	opacity: 1;
	transition: 2s;
	transform: translate(0, -40vh);
}
.contenedor_3{/*inicio*/
	background-color: var(--Fondo);	
}
.contenedor--encargos{
	background-color: var(--Fondo);	
	display: flex; 
	justify-content: center;
	 align-items: center;
	padding-top: 7%;
    width: 100%;
    height: 100vh;
}
.contenedor_4--flex{/*inicio*/
	background-color: var(--Fondo);	
	display: flex;
	height: 100vh;
}
.contenedor_4{/*inicio*/
	display: flex;
	width: 80%;
	padding-top: 5%;
}
.contenedor_4__div1{
	width: 35%;
	text-align: center;
}
.contenedor_4__div1__img{
	object-fit: contain !important; /*esta propiedad necesita el ancho y alto de la imagen definidos*/
	width: 90%;
	height: 500px;
}
.contenedor_4__div2{
	width: 65%;
	height: 500px;
}
.contenedor_4__div2--textarea_1{
	background-color: var(--Fondo);
	color: var(--FuenteInicio);
	font-size: 1.4em;
	padding: 2%;
	width: 100%;
	overflow: hidden;
	resize: none;
	border: none;
}
.contenedor_4--icono_1{
	font-size: 3em;
}
.contenedor_4--icono_2{
	font-size: 1.7em;
	color: var(--FuenteInicio);
}
.contenedor_4--redes{
	display: flex;
	justify-content: space-between;
	align-items: center;
	width: 50%;
	margin: auto;
	position: relative;
	bottom: -40px;
}
.contenedor_5{/*inicio*/
	background-color: var(--Fondo);	
	display: flex;
	justify-content: center;
	align-items: center;
    margin: auto;
    width: 100%;
    height: 100vh;
    overflow: hidden /*Evia que la imagen se desborde del contenedor*/
}
.contenedor_80{/**/
	display: flex; /*Organiza los elementos horizontalmente*/
	font-size: 1em;
	/* margin-bottom: 5%; */
}
.contenedor_80--eliminar{
	cursor: pointer;
}
.contenedor_80A{/*cuenta_editar*/
	display: flex; /*Organiza los elementos horizontalmente*/
	justify-content: space-between;
	font-size: 1em;
	position: absolute; /*esto se hace para poder dar z-index y ocultar el elemento*/
	z-index: -1;
	top: -5%;
	left: 0%;
	width: 100%;
}
.contenedor_80C{/*cuenta_editar*/	
	display: flex; /*Organiza los elementos horizontalmente*/
	/* margin-bottom: 2%; */
	width: 100% !important;
}
.contenedor_119{/**/
	width: 30%;
	height: 160px;
	margin: 5% auto !important;
	text-align: center;
}
.contenedor_119__img{/*salomonpanel*/
	object-fit: contain !important; /*esta propiedad necesita el ancho y alto de la imagen definidos*/
	width: 100%;
	height: 100%;
}
.cont_panel{/*salomonpanel*/
	display: flex;
}
.cont_panel__did-1{/*salomonpanel*/
	background-color: var(--Fondo);
	width: 30%;
}
.cont_Poncho__img{/*salomonpanel*/
	object-fit: contain !important; /*esta propiedad necesita el ancho y alto de la imagen definidos*/
	width: 30%;
	height: 100%;
}
.contador{/*cuenta_editar - quienesSomos - registroCom*/
	/* background-color: blue; */
	width: 9%;
	margin-left: 85% !important;
	border: none;
	font-size: 1em;
	text-align: right;
	/* margin-bottom: 1%; */
}
.contador-coleccion{/*cuenta_editar - quienesSomos - registroCom*/
	width: 100%;
	border: none;
	font-size: 1em;
	text-align: center;
}
.cont_galeria--principal{
	padding-top: 1%; 
}
.cont_galeria{/*pinturas*/
	column-count: 3 !important;
   	/* column-gap: 15px; */
   	column-fill: balance ;
	width: 95%;
	margin: auto;
}
.cont_Galeria--item{/*inicio*/
	display: inline-block;
	margin: 0 5px 20px;
	padding: 3%;
	cursor: pointer;
}
.cont_Galeria--img{
	width: 100%;
	height: 100%;
}
.cont_ponchoDetalle{/*detallePintura*/
	width: 100%;
	height: 100vh;
	margin: auto;
	display: flex;
	align-items: center;
}
.cont_ponchoDetalle--img{/*detallePintura*/
	width: 100%;
	height: 90%;
}
.cont_ponchoDetalle--leyenda{
	background-color: var(--FondoTextoTransparente);
	position: absolute;
	bottom: 6%;
	right: 3%;
	padding: 0.5% 1%;
	border-radius: 15px;
}
.cont_ponchoDetalle--h1{
	width: 100%;
	color: white;
	font-size: 1.5em;
}
.cont_ponchoDetalle--p1{
	color: white;
	font-size: 1em;
}
.cont_ponchoDetalle--iconoLeft{
	color: rgba(255, 255, 255, 0.7);
	font-size: 2em;
	position: absolute;
	z-index: 1;
	top: 50% !important;
	left: 3%;
	cursor: pointer;
}
.cont_ponchos_galeria{
	display: flex;	
	justify-content: center;
	flex-wrap: wrap;
}
.cont_ponchos--item{
	padding-top: 3%;
	width: 20%;
	margin: 2%;
	cursor: pointer;
}
.cont_poncho--img{
	width: 100%;
	height: 70%;
	cursor: pointer;
}
.Cont_poncho--h1_1{
	color: white;
	font-weight: normal;
	font-size: 3em;
	text-align: center;
	/* line-height: 100px; */
}
.cont_ponchoDetalle--iconoRight{
	color: rgba(255, 255, 255, 0.7);
	font-size: 2em;
	position: absolute;
	z-index: 1;
	top: 50% !important;
	left: 95%;
	cursor: pointer;
}
.cont--menu{
	background-color: rgb(16, 20, 23);
	width: 20%
}
.cont--menu--UltimoasObras{
	margin-right: 5%;
}
.cont_ultimasObras{
	background-color: var(--Fondo);
	display: flex;	
	flex-wrap: wrap;
	min-height: 100vh;
}
.cont_ultimasObras--item{
	padding-top: 5%;
	width: 70%;
	margin: 1%;
}
.cont_ultimasObras--img{/*inicio*/
	width: 100%;
	height: 300px;
	cursor: pointer;
	object-fit: cover;
}
.mostrar{/*añadida via JS en inicio_V*/
	color: white;
	/* display: block !important; */
}
.mostrar_imgUltimaObra{/*añadida via JS en inicio_V*/
	display: flex;
	align-items: center;
	object-fit: cover;
	margin: auto !important;
}
.mostrar_img{/*añadida via JS en inicio_V*/
	margin-top: -8% !important;
	height: 80vh;
	width: 85%;
	margin-left: 7.5%;
}
.cont_slider--poncho{
	display: flex;
	align-items: center;
}
.cont_muestrasImgPanel{
	padding: 1%;
	border-radius: 10px;
	border-color: black;
	border-width: 1px;
	border-style: solid;	
}
.cont_muestrasImgPanel--flex{
	display: flex;
	margin-bottom: 20px;
}
.cont_muestrasImgPanel--flex__div-1{/*salomonpanel*/
	width: 30%;
	margin-right: 20px;
}
.cont_muestrasImgPanel--flex___input{
	border-style: none;
}
.cont_contacto{
	display: flex;
	height: 100vh;
	position: relative;
}
.cont_contacto__div-1{/*inicio*/
	background-color: var(--Fondo);
	width: 80%; 
	display: flex;
	justify-content: center;
	align-items: center;
}
.cont_contacto--img{/*inicio*/
	display: block;
	width: 100%;
	height: 100vh;
	object-fit: cover;
}
.cont_footer{
	background-color: var(--Fondo);
	display: flex;
	align-items: center;
	justify-content: center;
}
.cont_footer--imagen{
	height: 12vh;
	border-radius: 20px;
	margin: 50% auto 10% auto;
}
.cont_Formulario{/*inicio*/
	margin-left: 20%;
	width: 60%; 
}
.cont_Formulario--label{/*inicio*/
	color: white;
	font-size: 1.5em;
}
.cont_Formulario--submit{/*inicio*/
	padding: 1%;
	cursor: pointer;
}
.cont_Formulario--input{/*inicio*/
	background-color: rgba(255, 255, 255, 0.9);
	width: 80%;
	display: block;
	margin-bottom: 2%;
	border-radius: 5px;
	padding: 1% 2%;
}
.cont_Formulario--textarea{/*inicio*/
	background-color: rgba(255, 255, 255, 0.9);
	width: 80%;
	height: 25vh;
	display: block;
	margin-bottom: 2%;
	border-radius: 5px;
	padding: 1% 2%;
	resize: none;
}
.ContenedorTitulo{/*salomonpanel*/
	background-color: var(--Fondo);
    width: 100%;
	overflow: hidden; 
}
.ContenedorTitulo--h1_1{
	color: white;
	font-weight: normal;
	font-size: 3em;
}
.ContenedorTitulo--h2_1{
	font-weight: normal;
	color: white;
	font-size: 1.3em;
}
.ContenedorTitulo--h3_1{
	font-size: 1.7em;
	height: 10vh;
	width: 40%;
	text-align: center;
	color: white;
	position: absolute;
	bottom: 0pt;
	left: 0%;
}
.cont_acuseRecibo{
	position: absolute;
	top: 40%;
	left: 68%;
	width: 30%;
}
.cont_acuseRecibo--p{
	color: white;
	font-size: 1.3em;
}
.cont_acuseRecibo--visitante{
	color: white;
	font-size: 2.5em;
	margin-top: 15%;
}
.cont_AcuseRecibo--leyenda{
	position: absolute;
	top: 20%;
	left: 50%;
}
.cont_vistaAmpliada{
	display: flex;
}
.cont_vistaAmpliada--img{
	width: 100%; 
	height: 640px;
	object-fit: contain;
}
.cont_vistaAmpliada_div1{
	width: 60%;
}
.cont_vistaAmpliada_div2{
	width: 40%;
}
.cont_vistaAmpliada_div2__h1{
	font-size: 2em;
	text-align: center;
	padding-top: 10%;
}
.cont_vistaAmpliada_div2__ul{
	margin-top: 5%;
	padding-left: 20%;
}
.fieldset_1{/*salomonpanel*/
	width: 40%;
	margin: auto;
	border-radius: 15px;
	padding: 2%;
	font-size: 1.2em;
}
.fieldset_2{/*registroCom - registroDes*/
	margin-top: 5%;
}
.fieldset_3{/*salomonpanel*/
	margin-top: 5%;
	width: 80%;
}
.h1_1{
	color: white;
	text-align: center;
}
.h2_1{
	font-size: 3em;
	text-align: center;
}
.header{/*header*/
	/* background-color:var(--Fondo); */
	position: fixed;
	top: 0%;
	left: 0%;
	width: 100%;
	display: flex;
	justify-content: space-around;
	padding-top: 0.5%;
}
.header--car{
	color: white;
	font-size: 1.5em;
}
.header--galeria__h1{
	line-height: 55px;
	text-align: center;
	font-size: 2em;
}
.header--galeria{
	background-color: rgb(185, 119, 14);
	position: fixed;
	top: 0%;
	left: 0%;
	width: 100%;
	height: 50px;
}
.header__li--Enlaces{
	background-color: yellow;
	color: white;
	text-align: center;
	font-size: 1.3em !important;
	padding: 2%;
	line-height: 40px;
	height: 55px;
	padding-top: 5%;
	/* width: 100%; */
	/*flex-grow: 1;distribuye proporcionalmente los elementos internos en el eje horizontal, es necesario que el elemento padre tenga la propiedad display con el valor flex*/
}
.header__li--Enlaces:hover{
	background-color: var(--HoverEnlaces);
	border-radius: 10px;
	cursor: pointer;
}
.header__logo{
	/* display: block; */
	/* width: 20%; */
	height: 8vh;
	border-radius: 20px;
	/* margin: 50% auto 10% auto; */
}
.header--menu{/*header_inicio*/
	color: white !important;
	font-size: 1.5em;
	cursor: pointer;
}
.header__menuResponsive{/*Todas las páginas*/
	background-color: rgba(0, 0, 0, 0.8);
	background-color: blue;
	/* padding-top: 0%; */
	/* height: 100vh; */
	margin-top: -250%; /*oculta el menu responsive*/
	transition: all 0.5s;
	position: initial;
}
.header__menuResponsive ul{/*Todas las páginas*/
	/* background-color: rgba(0, 0, 0, 0.8); */
	/* flex-direction: column; */
	/* width: 100%; */
	/* padding-top: 8%; */
}
.hr_1{/*inicio*/
	display: block;
	margin: 5%;
}
.icono--cerrar{
	font-size: 2.2em;
	position: fixed;
	left: 96%;
	top: 2%;
	cursor: pointer;
}
.imagen--portada{
	width: 100%;
	height: 100vh;
    object-fit: cover;
}
.imagen--evento{
	width: 100%;
	/* height: 100vh; */
    object-fit: cover;
}
.imagen_1{
	width: 100%;
	height: 350px;
    object-fit: cover;
}
.imagen_2{/*salomonpanel_V*/
	width: 100%;
	height: 150px;
    object-fit: contain;
}
.imagen_3{
	width: 100%;
	height: 100%;
    object-fit: contain; 
}
.input_1{/*salomonpanel*/
	padding: 0.5%;
	font-size: 1em;
	width: 40%;
}
.input_12{/*salomonpanel*/
	width: 95% !important;
	display: inline-block;
}
.input_13{/*salomonpanel*/
	padding-left: 5%;
	width: 100%;
	margin: 1% auto 2% auto;
}
.legend_1{/**/
	font-size: 1.4em;
	margin-left: 1%;
	padding: 0% 2%;
}
.label_1{
	color: darkblue;
	cursor: pointer;
}
.boton{/*salomonpanel*/
	background-color: var(--boton);
	color:white ;
	text-align: center;
	display: block;
	margin: 5% auto;
	border-radius: 10px;
	border: none;
	padding: 1% 3%;
}
.boton:hover{/*vitrina*/
	background-color: var(--HoverEnlaces);
	color: var(--OficialOscuro);
	cursor: pointer;
}
.span_10{
	font-size: 1.2em;
	color: rgba(0, 0, 0, 0.6);
	display: block;
	text-align: center;
}
.textarea_2{
	font-size: 1.3em;
	width: 90%;
	margin: auto;
	min-height: 100%;
	overflow: hidden;
	resize: none;
	margin-bottom: 1%;
	display: block;
	padding: 1%;
}
.menuLi_1:hover > ul{/*Se aplica un hover a un elemento, seleccionando otro elemento distinto*/
	background-color: var(--HoverEnlaces);
	display: inline-block !important;
	width: 19%;
	/* margin-left: 5%; */
}
.menuLi_2{/*header_AfiCom*/
	padding-top: 0%; 
	display: block !important;
	/* width: 110% !important; */
	text-align: left !important;
}
.ocultar{/*vitrina - carrito* - horario*/
	color: white;
	display: none;
}
.span_18{/*cuenta_publicar - cuenta_editar_prod - cuenta_editar*/
	padding: 3%;
	width: 40px;
	position: relative;
	top: -95%;
	left: 40%;
	display: inline !important;
	border-color: black;
	border-width: 1px;
	border-radius: 30px;
	border-style: solid;
}
.span_18:hover{/*cuenta_publicar - cuenta_editar_prod  - cuenta_editar*/
	cursor: pointer;
}
ul .menuContenedor_1{/*header_inicio*/
	left: 50% !important;
}
ul .menuContenedor_3{/*header_AfiCom*/
	display: none;
	position: absolute;
	margin-left: 17%;
	padding-left: 1%;
	/* padding-top: 5px; */
	z-index: 5;
	padding-bottom: 1%; 
	border-bottom-left-radius: 10px;
	border-bottom-right-radius: 10px;
}
.ul--menu{
	padding-top: 1%;
	margin-left: 6% !important;
}
