@media(max-width: 800px){/*aplicará en cualquier medio con dimensiones menores a lo indicado*/
	
    .contenedor_1{/*inicio*/
        display: block;
        width: 100%;
        height: 100vh;
    }
    .contenedor_2{/*inicio*/
        display: block;
        width: 100%;
        height: initial;
        padding-top: 25%;
    }
    .contenedor_2--secundario{
        padding-top: 10%;
    }
    .contenedor_2__div{
        width: 90%;
        height: 60vh;
        margin: auto;
        margin-bottom: 30%;
    }
    .contenedor_2a{
        padding-bottom: 5%;
    }
    .contenedor_4--flex{/*inicio*/
        padding-top: 5%;
        display: block;
    }
    .contenedor_4__div1{
        width: 100%;
        text-align: center;
    }
    .contenedor_4__div2{
        width: 100%;
        height: initial;
        padding: 5%;
    }
    .contenedor_4__div2--textarea_1{
        /* height: max-content !important; */
    }
    .contenedor_4--redes{
        justify-content: space-between;
        align-items: center;
        width: 90%;
    }
    .contenedor_2__div--animado_1{
        opacity: 1;
        transition: 2s;
        transform: translate(0, 0vh);
    }
    .contenedor_2__div--animado_2{
        transform: translate(0, -5vh);
    }
    .cont_galeria{/*galeria*/
        column-count: 1 !important;
        padding-top: 20%;
        /* column-gap: 15px;
        column-fill: balance ; */
    }
    .cont_Formulario{/*inicio*/
        position: absolute;
        top: 15%;
        left: 10%;
        width: 80%;
    }
    .cont_Formulario--input{/*inicio*/
        background-color: rgba(255, 255, 255, 0.5);
        font-size: 1.3em;
        font-weight: bold;
        color: black;
        width: 100%;
    }
    .cont_Formulario--textarea{/*inicio*/
        background-color: rgba(255, 255, 255, 0.5);
        font-size: 1.3em;
        font-weight: bold;
        color: black;
        width: 100%;
    }
    .cont_ponchoDetalle{
        width: 100%;
        display: block;
        padding-top: 15%;
    }
    .cont_ponchoDetalle--img{
        margin-top: 0%;
        width: 100%;
        height: auto;
    }
    .cont_ponchoDetalle--iconoLeft{
        font-size: 1.5em;
        padding: 3%;
    }
    .cont_ponchoDetalle--iconoRight{
        font-size: 1.5em;
        left: 86%;
        padding: 3%;
    }
    .cont_ponchoDetalle--leyenda{
        background-color:rgba(45, 40, 38, 0.6) ;
        width: 100%;
        position: fixed;
        top: 85%; 
        left: 0%;
        /* height: 80px; */
    }
    .cont_ponchoDetalle--h1{
        font-size: 1.7em;
        padding-left: 3%;
    }
    .cont_ponchoDetalle--p1{
        font-size: 1.1em;
        padding-left: 3%;
    }
    .ContenedorTitulo{
        background: linear-gradient(to left, rgba(45, 40, 38, 0), rgba(255, 255, 255, 0));
        width: 100%;
        padding-top: 0%;
        display: block;
        height: 100vh;
        text-align: center;
    }
    .ContenedorTitulo_div1{
        width:100%;
    }  
    .ContenedorTitulo--h1_1{/*inicio*/
        position: relative;
        font-size: 2em;
    }
    .ContenedorTitulo--h2_1{/*inicio*/
        position: relative;
        bottom: 5pt;
        font-size: 1em;
    }
    .ContenedorTitulo--h3_1{
        font-size: 1.2em;
        height: 5vh;
        width: 100%;
        text-align: center;
        color: black;
        position: absolute;
        bottom: 0pt;
        left: 0%;
    }
    .ContenedorTitulo_secciones{/*inicio*/
        display: none;
    }  
    .header{/*header_inicio*/
        background-color: initial;
        display: block;
        height: 45px;
    }
    .header__a{/*header_inicio*/
        width: 100%;
    }
    .header--menu{/*header_inicio*/
        display: block;
        position: absolute;
        top: 15%;
        left: 90%;
        z-index: 5;
    }
    .header__menuResponsive{/*Todas las páginas*/
        background-color: rgba(0, 0, 0, 0.8);
        padding-top: 0%;
        /* width: 100% !important;  */
        height: 100vh;
        margin-left: 100%;/*oculta el menu responsive*/
        transition: all 0.5s;
        position: initial;
    }
    .header__menuResponsive ul{/*Todas las páginas*/
        /* background-color: rgba(0, 0, 0, 0.8); */
        flex-direction: column;
        width: 100%;
        padding-top: 8%;
    }
    .header__menuResponsive li{/*Todas las páginas*/
        height: 55px;
        padding-top: 5%;
        width: 100%;
        flex-grow: 1;/*distribuye proporcionalmente los elementos internos en el eje horizontal, es necesario que el elemento padre tenga la propiedad display con el valor flex*/
    }
    .header__menuResponsive li a{/*header*/
        color: white;
        font-size: 1.2em;
        width: 100%;
        height: 35px;
        line-height: 35px;
        text-align: left;
        padding-left: 5%;
    }
    .header__menuResponsive li a:hover{/*Todas las páginas*/
        background-color: var(--Hover) !important;
        color: white !important;
        font-size: 1.2em;
        width: 100%;
    }
    .icono_3{/*header_inicio*/
        color: white !important;
        font-size: 1.5em;
    }
    .imagen_1{
        width: 100%;
        height: 350px;
        object-fit: cover;
    }
    .li--Enlaces{/*header*/
        color: white;
        width: 30%;
        text-align: center;
        font-size: 1.3em !important;
        padding: 2%;
        line-height: 40px;
    }
    .li--Enlaces:hover{
        padding: 2%;	
        border-radius: 0px;
        cursor: pointer;
    }
    ul .menuContenedor_3{/*header_AfiComp*/
        display: none;
        position: initial;
        margin-top: -13%;
        margin-left: 35%;
        z-index: 5;
        padding-top: 1%;
    }
    .menuLi_1:hover > ul{/*Se aplica un hover a un elemento, seleccionando otro elemento distinto*/
        display: block !important;
        width: 180px;
    }
    .menuLi_2{/*header_AfiCom*/
        padding-top: 0%;
    }
    .ul--menu{/*header_inicio*/
        padding-top: 1%;
        margin-left: 40% !important;
    }
}