@media(max-width: 800px){/*aplicará en cualquier medio con dimensiones menores a lo indicado*/
	
    .contenedor_1{/*inicio*/
        display: block;
        width: 100%;
        height: 100vh;
    }
    .contenedor_2{/*inicio*/
        display: block;
        width: 100%;
        height: initial;
        padding-top: 25%;
    }
    .contenedor_2--secundario{
        padding-top: 10%;
    }
    .contenedor_2__div{
        width: 90%;
        height: 60vh;
        margin: auto;
        margin-bottom: 30%;
    }
    .contenedor_2a{
        padding-bottom: 5%;
    }
    .contenedor_4--flex{/*inicio*/
        padding-top: 5%;
        display: block;
    }
    .contenedor_4__div1{
        width: 100%;
        text-align: center;
    }
    .contenedor_4__div2{
        width: 100%;
        height: initial;
        padding: 5%;
    }
    .contenedor_4__div2--textarea_1{
        /* height: max-content !important; */
    }
    .contenedor_4--redes{
        justify-content: space-between;
        align-items: center;
        width: 90%;
    }
    .contenedor_2__div--animado_1{
        opacity: 1;
        transition: 2s;
        transform: translate(0, 0vh);
    }
    .contenedor_2__div--animado_2{
        transform: translate(0, -5vh);
    }
    .cont_carrito--flex{
        width: 100%;
        margin-top: 10%;
        margin-bottom: 10%;
    }
    .cont_carrito--h1{
        color:white; 
        font-size: 1.5em;
        font-family: Gruppo !important;
        margin: auto;
        margin-top: 10%;
        width: 80%;
    }
    .cont_carrito--div-1{
        width: 60%;
    }
    .cont_carrito--boton{
        margin-bottom: 10%; 
        font-size: 1.2em;
        padding: 0.2%;
        width: 150px;
        display: inline-block;
    }
    .cont_carrito--MetodoPago{
        /* background-color: red; */
    }
    .cont_carrito--label{
        padding-left: 5%;
    }
    .cont_carrito--MetodoPago--items{
        margin: auto;
        width: 50%;
        text-align: left;
        margin-bottom: 3%;
    }
    .cont_contacto{
        display: block;
        height: initial;
    }
    .cont_contacto__div-1{/*inicio*/
        width: 100%; 
    }
    .cont_galeria{/*galeria*/
        column-count: 1 !important;
        padding-top: 20%;
    }
    .cont_Formulario{/*inicio*/
        width: 90%; 
    }
    .cont_Formulario--input{/*inicio*/
        background-color: white;
        font-size: 1.5em;
    }
    .cont_Formulario--textarea{/*inicio*/
        background-color: white;
        font-size: 1.5em;
    }    
    .cont_miniaturas{
        width: 100%;
        margin-top: 2%;
    }
    .cont_poncho--label{
        display: none;
    }
    .cont_ponchos--item{
        padding-top: 1%;
        width: 80%;
        margin: auto 5%;
        cursor: pointer;
    }
    .cont_poncho--img{
        width: 100%;
        height: 100%;
    }
    .cont_ponchoDetalle{
        width: 100%;
        display: block;
        padding-top: 15%;
    }
    .cont_ponchoDetalle--img{
        margin-top: 0%;
        width: 95%;
        height: 65%; /*auto*/
        margin-left: 2.5%;
    }
    .cont_ponchoDetalle--iconoLeft{
        font-size: 1.5em;
        padding: 3%;
    	top: 80% !important;
    }
    .cont_ponchoDetalle--iconoRight{
        font-size: 1.5em;
        left: 86%;
        padding: 3%;
    	top: 80% !important;
    }
    .cont_ponchoDetalle--leyenda{
        width: 100%;
        position: fixed;
        top: 88%; 
        left: 0%;
    }
    .cont_ponchoDetalle--h1{
        font-size: 1.7em;
        padding-left: 3%;
    }
    .cont_ponchoDetalle--p1{
        font-size: 1.1em;
        padding-left: 3%;
    }
    .cont_portada{/*inicio*/
        position: relative;	
        z-index: -1 !important;
    }
    .cont_portada__div-1{/*inicio*/
        width: 100%; /*para centrar vertical y horizontalmente*/
        margin-left:0%;/*para centrar vertical y horizontalmente*/
        left: 0%;/*para centrar vertical y horizontalmente*/
        height:80px;
        top: 95%;/*para centrar vertical y horizontalmente*/
    }
    .cont_portada__p-1{
        font-size: 2.5em;
    }
    .cont_portada__p-2{
        font-size: 1.2em;
    }
    .ContenedorTitulo{
        background: linear-gradient(to left, rgba(45, 40, 38, 0), rgba(255, 255, 255, 0));
        width: 100%;
        padding-top: 0%;
        display: block;
        height: 100vh;
        text-align: center;
    }
    .ContenedorTitulo_div1{
        width:100%;
    }  
    .ContenedorTitulo--h1_1{/*inicio*/
        position: relative;
        font-size: 2em;
    }
    .ContenedorTitulo--h2_1{/*inicio*/
        position: relative;
        bottom: 5pt;
        font-size: 1em;
    }
    .ContenedorTitulo--h3_1{
        font-size: 1.2em;
        height: 5vh;
        width: 100%;
        text-align: center;
        color: black;
        position: absolute;
        bottom: 0pt;
        left: 0%;
    }
    .ContenedorTitulo_secciones{/*inicio*/
        display: none;
    }  
    .cont_sobreMi--flex{/*inicio*/
        display: block;
        width: 100%;
    }
    .cont_sobreMi__h1{
        width: 100%;
    }
    .cont_sobreMi__div1{
        width: 100%;
    }
    .cont_sobreMi__div2{
        width: 100%;
        height: initial;
    }
    .cont_sobreMi__div2--textarea_1{
        padding: 5%;
    }
    .cont_ultimasObras--item{
        padding-top: initial;
        width: 95%;
    }
    .cont_ultimasObras--img{/*inicio*/
        width: 100%;
        margin-top: 25%;
    }
    .header{/*header_inicio*/
        padding-top: 3%;
        display: block;
        height: 45px;
    }
    .header__menuResponsive{/*Todas las páginas*/
        transition: all 0.5s;
        position: absolute;
        top: 0%;
        margin-top: -250%; /*oculta el menu responsive*/
        padding: 20% 5%;
        border-radius: 0px;
        width: 100%;
        height: 100vh;
        z-index: 31;
    }
    .header--car{
       display: none !important;
    }
    .header__logo{
        margin-left: 3%;
    }
    .header__a{/*header_inicio*/
        width: 100%;
    }
    .header--menu{/*header_inicio*/
        display: block;
        position: absolute;
        top: 20%;
        left: 90%;
        z-index: 5;
    }
    .imagen_1{
        width: 100%;
        height: 350px;
        object-fit: cover;
    }
    .imagen_11{/*detallePintura*/
        width: 50px;
        height: 50px;
    } 
    .li--Enlaces{/*header*/
        color: white;
        width: 30%;
        text-align: center;
        font-size: 1.3em !important;
        padding: 2%;
        line-height: 40px;
    }
    .li--Enlaces:hover{
        padding: 2%;	
        border-radius: 0px;
        cursor: pointer;
    }
    ul .menuContenedor_3{/*header_AfiComp*/
        display: none;
        position: initial;
        margin-top: -13%;
        margin-left: 35%;
        z-index: 5;
        padding-top: 1%;
    }
    .menuLi_1:hover > ul{/*Se aplica un hover a un elemento, seleccionando otro elemento distinto*/
        display: block !important;
        width: 180px;
    }
    .menuLi_2{/*header_AfiCom*/
        padding-top: 0%;
    }
    .ul--menu{/*header_inicio*/
        padding-top: 1%;
        margin-left: 40% !important;
    }



    .cont_modal{
        background-color: rgba(15, 13, 13, 0.8);
    }
    .cont_modal--label{/*inicio*/
        font-size: 1em;
        font-weight: bolder;
        position: absolute;
        top: 2%;
        right: 4%;
    }
    .cont_modal--p{/*inicio*/
        margin-top: 20%;
        font-size: 2em;
    }
    .cont_modal--logo{/*inicio*/
	    width: 100%;
        bottom: 45pt;
        left: 0%;
    }
}